html, body
{
   height: 100%;
}
div#space
{
   width: 1px;
   height: 50%;
   margin-bottom: -384px;
   float:left
}
div#container
{
   width: 1366px;
   height: 768px;
   margin: 0 auto;
   position: relative;
   clear: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#PageHeader1
{
   background-color: #1565C0;
   background-image: none;
   box-sizing: border-box;
}
#wb_CssMenu1
{
   border: 0px solid #C0C0C0;
   background-color: transparent;
   margin: 0;
   text-align: center;
}
#wb_CssMenu1 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   position: relative;
   display: inline-block;
}
#wb_CssMenu1 li
{
   float: left;
   margin: 0;
   padding: 0px 4px 0px 0px;
   width: 100px;
}
#wb_CssMenu1 a
{
   display: block;
   float: left;
   color: #333333;
   border: 1px solid #CCCCCC;
   background-color: #FFFFFF;
   background-image: none;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   width: 88px;
   height: 26px;
   padding: 0px 5px 0px 5px;
   vertical-align: middle;
   line-height: 26px;
   text-align: center;
}
#wb_CssMenu1 li:hover a, #wb_CssMenu1 a:hover
{
   color: #FFFFFF;
   background-color: #337AB7;
   background-image: none;
   border: 1px solid #2E6DA4;
}
#wb_CssMenu1 li.firstmain
{
   padding-left: 0px;
}
#wb_CssMenu1 li.lastmain
{
   padding-right: 0px;
}
#wb_CssMenu1 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
@media all and (max-width:320px) 
{
#wb_CssMenu1 ul
{
   width: 100%;
}
#wb_CssMenu1 li
{
   padding: 0 0px 4px 0px !important;
   width: 100% !important;
}
#wb_CssMenu1 a
{
   float: none !important;
   width: 100% !important;
}

}
#wb_Image2
{
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text3 div
{
   text-align: center;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text4 div
{
   text-align: left;
}
#wb_CssMenu2
{
   border: 0px solid #C0C0C0;
   background-color: transparent;
   margin: 0;
   text-align: center;
}
#wb_CssMenu2 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   position: relative;
   display: inline-block;
}
#wb_CssMenu2 li
{
   float: left;
   margin: 0;
   padding: 0px 4px 0px 0px;
   width: 100px;
}
#wb_CssMenu2 a
{
   display: block;
   float: left;
   color: #333333;
   border: 1px solid #CCCCCC;
   background-color: #FFFFFF;
   background-image: none;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   width: 88px;
   height: 26px;
   padding: 0px 5px 0px 5px;
   vertical-align: middle;
   line-height: 26px;
   text-align: center;
}
#wb_CssMenu2 li:hover a, #wb_CssMenu2 a:hover
{
   color: #FFFFFF;
   background-color: #337AB7;
   background-image: none;
   border: 1px solid #2E6DA4;
}
#wb_CssMenu2 li.firstmain
{
   padding-left: 0px;
}
#wb_CssMenu2 li.lastmain
{
   padding-right: 0px;
}
#wb_CssMenu2 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
@media all and (max-width:320px) 
{
#wb_CssMenu2 ul
{
   width: 100%;
}
#wb_CssMenu2 li
{
   padding: 0 0px 4px 0px !important;
   width: 100% !important;
}
#wb_CssMenu2 a
{
   float: none !important;
   width: 100% !important;
}

}
#wb_CssMenu3
{
   border: 0px solid #C0C0C0;
   background-color: transparent;
   margin: 0;
   text-align: center;
}
#wb_CssMenu3 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   position: relative;
   display: inline-block;
}
#wb_CssMenu3 li
{
   float: left;
   margin: 0;
   padding: 0px 4px 0px 0px;
   width: 100px;
}
#wb_CssMenu3 a
{
   display: block;
   float: left;
   color: #333333;
   border: 1px solid #CCCCCC;
   background-color: #FFFFFF;
   background-image: none;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   width: 88px;
   height: 26px;
   padding: 0px 5px 0px 5px;
   vertical-align: middle;
   line-height: 26px;
   text-align: center;
}
#wb_CssMenu3 li:hover a, #wb_CssMenu3 a:hover
{
   color: #FFFFFF;
   background-color: #337AB7;
   background-image: none;
   border: 1px solid #2E6DA4;
}
#wb_CssMenu3 li.firstmain
{
   padding-left: 0px;
}
#wb_CssMenu3 li.lastmain
{
   padding-right: 0px;
}
#wb_CssMenu3 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
@media all and (max-width:320px) 
{
#wb_CssMenu3 ul
{
   width: 100%;
}
#wb_CssMenu3 li
{
   padding: 0 0px 4px 0px !important;
   width: 100% !important;
}
#wb_CssMenu3 a
{
   float: none !important;
   width: 100% !important;
}

}
#PageFooter1
{
   background-color: #F5F5F5;
   background-image: none;
   box-sizing: border-box;
   margin: 0;
}
#PageFooter2
{
   background-color: #1565C0;
   background-image: none;
   box-sizing: border-box;
   margin: 0;
}
#wb_CssMenu1
{
   position: absolute;
   left: 935px;
   top: 45px;
   width: 416px;
   height: 36px;
   z-index: 0;
}
#PageHeader1_Container
{
   width: 1366px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#wb_CssMenu3
{
   position: absolute;
   left: 336px;
   top: 45px;
   width: 416px;
   height: 36px;
   visibility: hidden;
   z-index: 3;
}
#PageHeader1
{
   position: fixed;
   text-align: center;
   left: 0;
   top: 0;
   right: 0;
   height: 115px;
   z-index: 7777;
}
#wb_Text4
{
   position: absolute;
   left: 539px;
   top: 126px;
   width: 304px;
   height: 15px;
   z-index: 5;
}
#wb_CssMenu2
{
   position: absolute;
   left: 925px;
   top: 45px;
   width: 416px;
   height: 36px;
   visibility: hidden;
   z-index: 2;
}
#wb_Image2
{
   position: absolute;
   left: 15px;
   top: 12px;
   width: 102px;
   height: 103px;
   z-index: 1;
}
#PageFooter1
{
   display: inline-block;
   position: relative;
   overflow: hidden;
   text-align: center;
   width: 100%;
   height: 105px;
   z-index: 6;
}
#PageFooter2
{
   display: inline-block;
   position: relative;
   overflow: hidden;
   text-align: center;
   width: 100%;
   height: 141px;
   z-index: 7;
}
#wb_Text3
{
   position: absolute;
   left: 500px;
   top: 18px;
   width: 367px;
   height: 104px;
   text-align: center;
   z-index: 4;
}
#PageFooter2_Container
{
   width: 1366px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#PageFooter1_Container
{
   width: 1366px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
@media only screen and (min-width: 1366px)
{
div#container
{
   width: 1366px;
   height: 768px;
}
body
{
   background-color: #FFFFFF;
}
#PageHeader1
{
   height: 115px;
   visibility: visible;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #1565C0;
   background-image: none;
}
#PageHeader1_Container
{
   width: 1366px;
}
#wb_CssMenu1
{
   left: 936px;
   top: 60px;
   width: 416px;
   height: 36px;
   visibility: hidden;
   display: none;
   margin: 0;
   text-align: center;
}
#wb_CssMenu1 li
{
   width: 100px;
}
#wb_CssMenu1 a
{
   color: #333333;
   border: 1px solid #CCCCCC;
   background-color: #FFFFFF;
   background-image: none;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   width: 88px;
   height: 26px;
   padding: 0px 5px 0px 5px;
   line-height: 26px;
   text-align: center;
}
#wb_CssMenu1 li:hover a, #wb_CssMenu1 a:hover
{
   color: #FFFFFF;
   background-color: #337AB7;
   background-image: none;
   border: 1px solid #2E6DA4;
}
#wb_Image2
{
   left: 15px;
   top: 12px;
   width: 102px;
   height: 103px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Text3
{
   left: 500px;
   top: 18px;
   width: 367px;
   height: 104px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text3
{
   margin: 0;
   padding: 0;
}
#wb_Text4
{
   left: 539px;
   top: 126px;
   width: 304px;
   height: 15px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text4
{
   margin: 0;
   padding: 0;
}
#wb_CssMenu2
{
   left: 925px;
   top: 45px;
   width: 416px;
   height: 36px;
   visibility: visible;
   display: block;
   margin: 0;
   text-align: center;
}
#wb_CssMenu2 li
{
   width: 100px;
}
#wb_CssMenu2 a
{
   color: #333333;
   border: 1px solid #CCCCCC;
   background-color: #FFFFFF;
   background-image: none;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   width: 88px;
   height: 26px;
   padding: 0px 5px 0px 5px;
   line-height: 26px;
   text-align: center;
}
#wb_CssMenu2 li:hover a, #wb_CssMenu2 a:hover
{
   color: #FFFFFF;
   background-color: #337AB7;
   background-image: none;
   border: 1px solid #2E6DA4;
}
#wb_CssMenu3
{
   left: 336px;
   top: 45px;
   width: 416px;
   height: 36px;
   visibility: hidden;
   display: none;
   margin: 0;
   text-align: center;
}
#wb_CssMenu3 li
{
   width: 100px;
}
#wb_CssMenu3 a
{
   color: #333333;
   border: 1px solid #CCCCCC;
   background-color: #FFFFFF;
   background-image: none;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   width: 88px;
   height: 26px;
   padding: 0px 5px 0px 5px;
   line-height: 26px;
   text-align: center;
}
#wb_CssMenu3 li:hover a, #wb_CssMenu3 a:hover
{
   color: #FFFFFF;
   background-color: #337AB7;
   background-image: none;
   border: 1px solid #2E6DA4;
}
#PageFooter1
{
   height: 105px;
   visibility: visible;
   display: block;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #F5F5F5;
   background-image: none;
}
#PageFooter1
{
   width: 100%;
}
#PageFooter1_Container
{
   width: 1366px;
}
#PageFooter2
{
   height: 141px;
   visibility: visible;
   display: block;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #1565C0;
   background-image: none;
}
#PageFooter2
{
   width: 100%;
}
#PageFooter2_Container
{
   width: 1366px;
}
}
@media only screen and (max-width: 1365px)
{
div#container
{
   width: 768px;
   height: 768px;
}
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#PageHeader1
{
   height: 115px;
   visibility: visible;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #1565C0;
   background-image: none;
}
#PageHeader1_Container
{
   width: 768px;
}
#wb_CssMenu1
{
   left: 936px;
   top: 60px;
   width: 416px;
   height: 36px;
   visibility: visible;
   display: block;
   margin: 0;
   text-align: center;
}
#wb_CssMenu1 li
{
   width: 100px;
}
#wb_CssMenu1 a
{
   color: #333333;
   border: 1px solid #CCCCCC;
   background-color: #FFFFFF;
   background-image: none;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   width: 88px;
   height: 26px;
   padding: 0px 5px 0px 5px;
   line-height: 26px;
   text-align: center;
}
#wb_CssMenu1 li:hover a, #wb_CssMenu1 a:hover
{
   color: #FFFFFF;
   background-color: #337AB7;
   background-image: none;
   border: 1px solid #2E6DA4;
}
#wb_Image2
{
   left: 15px;
   top: 12px;
   width: 102px;
   height: 103px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Text3
{
   left: 201px;
   top: 18px;
   width: 367px;
   height: 104px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text3
{
   margin: 0;
   padding: 0;
}
#wb_Text4
{
   left: 232px;
   top: 126px;
   width: 304px;
   height: 15px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text4
{
   margin: 0;
   padding: 0;
}
#wb_CssMenu2
{
   left: 925px;
   top: 45px;
   width: 416px;
   height: 36px;
   visibility: hidden;
   display: none;
   margin: 0;
   text-align: center;
}
#wb_CssMenu2 li
{
   width: 100px;
}
#wb_CssMenu2 a
{
   color: #333333;
   border: 1px solid #CCCCCC;
   background-color: #FFFFFF;
   background-image: none;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   width: 88px;
   height: 26px;
   padding: 0px 5px 0px 5px;
   line-height: 26px;
   text-align: center;
}
#wb_CssMenu2 li:hover a, #wb_CssMenu2 a:hover
{
   color: #FFFFFF;
   background-color: #337AB7;
   background-image: none;
   border: 1px solid #2E6DA4;
}
#wb_CssMenu3
{
   left: 336px;
   top: 45px;
   width: 416px;
   height: 36px;
   visibility: visible;
   display: block;
   margin: 0;
   text-align: center;
}
#wb_CssMenu3 li
{
   width: 100px;
}
#wb_CssMenu3 a
{
   color: #333333;
   border: 1px solid #CCCCCC;
   background-color: #FFFFFF;
   background-image: none;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   width: 88px;
   height: 26px;
   padding: 0px 5px 0px 5px;
   line-height: 26px;
   text-align: center;
}
#wb_CssMenu3 li:hover a, #wb_CssMenu3 a:hover
{
   color: #FFFFFF;
   background-color: #337AB7;
   background-image: none;
   border: 1px solid #2E6DA4;
}
#PageFooter1
{
   height: 105px;
   visibility: visible;
   display: block;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #F5F5F5;
   background-image: none;
}
#PageFooter1
{
   width: 100%;
}
#PageFooter1_Container
{
   width: 768px;
}
#PageFooter2
{
   height: 141px;
   visibility: visible;
   display: block;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #1565C0;
   background-image: none;
}
#PageFooter2
{
   width: 100%;
}
#PageFooter2_Container
{
   width: 768px;
}
}
